body {
    background-color: #08161e;
    font-family: 'Courier New', Courier, monospace;
    color: #FFA07A;
}
.my_photo {
    background: url(../images/my_photo.jpg) no-repeat center center;
    background-size: 100%;
    width: 300px;
    height: 200px;
}
.nav_logo {
    background: url(../images/logo.jpg) no-repeat center center;
    background-size: 100%;
    width: 60px;
    height: 60px;
}
.nav_text {
    display: flex;
    align-items: center;
    justify-content: right;

}
.nav_bar{
    font-size: 30px;
    font-weight: bold;
}
.container {
    margin-top: 30px;
}
.col-12 {
    align-items: center;
}
.form {
    display: flex;
    align-items: center;
    width: 100%;
}
textarea {
    margin-top: 5px;
    width: 100%;
}
.hello {
    margin-top: 50px;
}
.row {
    margin-top: 3px;
}
.btn_red {
    margin-top: 10px;
    margin-left: 450px ;
    text-align: center;
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    background-color: #FF0000;
    color: #E0FFFF;
    font-weight:bold;
}
.hello {
    text-align: center;
}
.title_photo {
    text-align: center;
}
.button_js{
    text-align: center;
}
.input {
    height: 30px;
}
#Button {
    border: none;
    border-radius: 15px;
    width: 300px;
    height: 100px;
    background-color: #FF0000;
    color: #E0FFFF;
    font-weight:bold;
}
#demo img {
    margin-top: 20px;
    width: 75%;
}
